<link rel="stylesheet" href="/css/aution.css" />
<div class="container mt-3">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item bread-category" aria-current="page" data="{{product.category.name}}">{{product.category.name}}</li>
    </ol>
  </nav>
  <h1 class="text text-center">Đấu giá sản phẩm</h1>
  <div class="card bg-light">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content" style="height: 350px;">
            {{#each product.image}}
            <div class="tab-pane {{isActive @key}}" id="pic-{{@key}}" style="height: 100%;"><img
                src="/upload/product/{{this}}" style="height: 100%;" /></div>
            {{/each}}
          </div>
          <ul class="preview-thumbnail nav nav-tabs" style="height: 55px;">
            {{#each product.image}}
            <li class="{{isActive @key}}" style="height: 100%;"><a data-target="#pic-{{@key}}" data-toggle="tab"
                style="height: 100%;"><img src="/upload/product/{{this}}" style="height: 100%; width:100%;" /></a></li>
            {{/each}}
          </ul>

        </div>
        <div class="details col-md-6">
          <div class="conten-wrapper">
            <h3 class="product-title">{{product.title}}</h3>
            <h4 class="price">Giá bán: <span>{{product.price}}đ</span></h4>
            <p class="product-description">{{product.description}}</p>
            <p class="area">Khu vực: {{product.user.area}}</p>
            <p class="address">Địa chỉ bán: {{product.user.address}}</p>
            <p class="quantity">Số lượng: {{product.quantity}}</p>
          </div>
          <form action="">
            <div class="form-group form-group-lg">
              <label class="display-3" for="auction_price">Đấu giá</label>
              <input type="text" name="auction_price" id="auction_price" class="form-control auction_price"
                placeholder="Nhập vào giá muốn đấu giá">
            </div>
            <div class="action">
              <button class="add-to-cart btn btn-default btn-aution" type="button">Đấu giá</button>
              <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<form class="form-search" id="form-search" action="/product/search" method="POST" hidden>
  <input class="category" name="category" value="{{product.category.name}}" />
  <input class="title" name="title" />
  <input class="area" name="area" />
  <input class="page" name="page" value="1"/>
</form>

<form class="form-data" hidden>
  <input class="product" value="{{product._id}}" />
  <input class="seller" value="{{product.user._id}}" />
</form>

{{!-- Script gọi api tạo deal đấu giá --}}
<script>
  $(document).on('click', '.btn-aution', async (e) => {
    const auction_price = $('.auction_price').val();
    if (!auction_price) {
      alert("Bạn chưa nhập giá đấu!");
    }
    else {
      const data = {
        product: $('.product').val(),
        seller: $('.seller').val(),
        auction_price: auction_price
      }
      var rs = await $.ajax({
        type: "POST",
        url: "/deal/auctiondeal",
        contentType: "application/json",
        data: JSON.stringify(data)
      });
      if (rs.success) {
        alert(rs.success);
      }
      else {
        alert(rs.error);
      }
    }
  })
</script>