<div class="my-container-fuild py-5">

  <div class="row">
    <div class="col-lg-10 mx-auto">

      <!-- List group-->
      <ul class="list-group">

        {{!-- product-item --}}
        {{#if product}}
        {{#each product}}
          <li class="shadow list-group-item mb-3">
            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
              <div class="media-body order-2 order-lg-1">
                <h5 class="mt-0 font-weight-bold mb-2">{{this.name}}</h5>
                <p class="font-italic text-muted mb-0 small">{{this.title}}</p>
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <h6 class="font-weight-bold my-2">{{this.price}}</h6>
                  <div class="amount h6">Số lượng : {{this.quantity}}</div>
                </div>
              </div><img src="/upload/product/{{this.image.[0]}}"
                alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
            </div>
          </li>
        {{/each}}
        {{else}}
        <h1 class="text-center text-danger">Không có sản phẩm nào</h1>
        {{/if}}

      </ul>
    </div>
  </div>
</div>

{{!-- form thực hiển chuyển trang --}}
<form id="formUrProduct" action="/product/sold" method="POST" hidden>
    <input name="page" class="page" value="{{page}}"/>
    <input name="completed" class="completed" value="{{completed}}"/>
</form>

<ul class="pagination justify-content-center mt-5">
  <li class="page-item"><button class="page-link" {{{checkPrev page}}} action-type="sub">Previous</button></li>
  <li class="page-item"><button class="page-link" {{{checkNext product.length}}} action-type="add">Next</button></li>
</ul>

{{!-- script chuyển trang --}}
<script>
  $(document).on('click','.page-link', (e) => {
    let el = e.target;
    let action = $(el).attr('action-type');
    let page = $('.page').val();
    page = parseInt(page);
    if(action == "sub"){
      $('.page').val(--page);
    }
    if(action == "add"){
      $('.page').val(++page);
    }

    $('#formUrProduct')[0].submit();
  })
</script>