<link rel="stylesheet" href="/css/dashboard.css" />
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group" style="height: 100%; background-color: #fff;">
                <a href="/user/profile" class="list-group-item list-group-item-action">Thông tin cá nhân</a>
                <a href="/user/dashboard" class="list-group-item list-group-item-action active">Thống kê hoạt động</a>
                <button class="list-group-item list-group-item-action btn-ur-deal" data="false" data-url="/product/buyed">Các sản phẩm đã mua
                <span class="text-danger">({{amount.buyed}})</span></button>
            </div>
        </div>
        <div class="col-md-9">
            <div class="well profile row bg-light p-3">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <h2 style="font-family: cursive;">{{user.fullname}}</h2>
                            <p><strong>Vai trò: </strong> Thành viên. </p>
                            <p><strong>Khu vực: </strong>{{user.area}}</p>
                            <p><strong>Địa chỉ: </strong>{{user.address}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-4 text-center">
                            <figure>
                                {{#if user.avata}}
                                    <img src="/upload/avatar/{{user.avata}}" alt=""
                                    class="img-circle img-responsive mx-auto" width="192" height="192">
                                {{else}}
                                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt=""
                                    class="img-circle img-responsive mx-auto">
                                {{/if}}
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 divider text-center">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 emphasis">
                        <h2><strong> {{amount.sold}} </strong></h2>
                        <button class="btn btn-success btn-block btn-ur-product" data="true" data-url="/product/sold"><span class="fa fa-plus-circle"></span> Sản phẩm đã
                            bán
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-4 emphasis">
                        <h2><strong>{{amount.onsale}}</strong></h2>
                        <button class="btn btn-info btn-block btn-ur-product" data="false" data-url="/product/onsale"><span class="fa fa-user"></span> Sản phẩm đang bán
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-4 emphasis">
                        <h2><strong>{{amount.bid}}</strong></h2>
                        <button class="btn btn-primary btn-block btn-ur-deal" data="true" data-url="/product/bid"><span class="fa fa-gear"></span>Sản phẩm đã đấu giá
                        </button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<form id="formUrProduct" action="" method="POST" hidden>
    <input name="page" class="page" value="1"/>
    <input name="completed" class="completed"/>
    <input name="data-url" class="data-url"/>
</form>
<form id="formUrDeal" action="" method="POST" hidden>
    <input name="page" class="page" value="1"/>
    <input name="type" class="type"/>
    <input name="data-url" class="data-url"/>
</form>

<script>
    $(document).on('click','.btn-ur-product', (e) => {
        let el = e.target;
        let data = $(el).attr('data');
        let data_url = $(el).attr('data-url');
        $('.completed').val(data);
        $('.data-url').val(data_url);
        $('#formUrProduct').attr('action',data_url);
        $('#formUrProduct')[0].submit();
    });

    $(document).on('click','.btn-ur-deal', (e) => {
        let el = e.target;
        let data = $(el).attr('data');
        let data_url = $(el).attr('data-url');
        $('.type').val(data);
        $('.data-url').val(data_url);
        $('#formUrDeal').attr('action',data_url);
        $('#formUrDeal')[0].submit();
    });
</script>